---
layout: default
---
<section id='team'>
  <h1 class="team-title text-center">Team and partners</h1>


  <h2 class="team-subtitle text-center">Partners</h2>
  <div class="container team">
    <div class="row">

      {% for partner in site.partners %}
      <div class="post row">
          <img src="{{ site.image_root_url }}w_400,c_scale/{{ site.image_account }}/{{ partner.image }}" alt="{{ partner.content | strip_html | truncatewords: 15 }}" class="cols-xs-12 col-sm-4 img-responsive post-img">
          <div class="col-xs-12 col-sm-8 post-content">
              <h4>{{ partner.name }}</h4>
              <p>{{partner.content}}</p>
          </div>
      </div>
    
      {% endfor %}
    </div>
      
  </div>



  <h2 class="team-subtitle text-center">Team</h2>

  <div class="container team">
    <div class="row">
      {% for person in site.team_members %}
      <div class="col-xs-12 col-sm-6 team-member">

        <img src="{{ site.image_root_url }}w_400,h_400,c_fill/{{ site.image_account }}/{{ person.image }}" alt="{{ person.content | strip_html | truncatewords: 15 }}" class="img-responsive img-circle team-image">
        <h4 class="text-center">{{person.name}}</h4>
        <p class="text-muted text-center">{{person.content}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>