<div class="container about" id="about">
  <div class="row">
    <div class="col-sm-12">
        <h2>Project overview</h2>
        <p>
          Using data can lead to more impactful decision making over intuition
          alone. But collecting, analyzing, and visualizing data is difficult,
          especially in resource constrained settings. The Disease Surveillance and
          Risk Monitoring (DiSARM) project is building tools to help disease control 
          programs use data to target interventions spatially,
          guide field teams more precisely, and evaluate coverage more robustly. A key 
          aspect of the DiSARM project is the development of algorithms that can help 
          distill data into actionable 
          intelligence. These algorithms can be integrated into applications such as the 
          <a href="/app">DiSARM application</a> or can be accessed through an
          <a href="/api">application programming interface (API)</a>  
        </p>
                <iframe style="display: block; margin: auto;" width="700" height="400"  src="https://www.youtube.com/embed/o5wFP3zOG1M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
          The DiSARM project is led by the Malaria Elimination Initiative at the
          University of California San Francisco in collaboration with Peoplesized
          and the Clinton Health Access Initiative. The project is supported by the
          Bill & Melinda Gates Foundation, Task Force on Global Health, and Google.
        </p>
        

    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-sm-6 api">
      {% capture api_blurb %}{% include blurb_api.md %}{% endcapture %}
      {{ api_blurb | markdownify }}
    </div>
    <div class="col-sm-6 app">
      {% capture app_blurb %}{% include blurb_app.md %}{% endcapture %}
      {{ app_blurb | markdownify }}
    </div>
  </div>
  </div>
</div>
