<!-- TEAM -->
  <h2 class="team-subtitle text-center">Team</h2>

  <div class="container team">
    {% assign people = site.team_members | sort: 'title' %}
    {% for person in people %}
      {% assign row = forloop.index | modulo: 2 %}

      {% if row == 1 %}
      <div class="row">
      {% endif %} 

        <div class="col-xs-12 col-sm-6 team-member">
          <img src="{{ site.image_root_url }}c_fill,w_400,h_400,g_face/{{ site.image_account }}/{{ person.image }}" alt="{{ person.content | strip_html | truncatewords: 15 }}" class="img-responsive img-circle team-image">
          <h4 class="text-center">{{person.name}}</h4>
          <p class="text-muted text-center">{{person.content}}</p>
        </div>

      {% if row  == 0 %}
      </div>
      {% endif %}

    {% endfor %}
  </div>
