.navbar-brand {
  padding: 13.5px 13px 13.5px;
}

.ucsf-logo {
  display: none;
  height: 50px;
  margin-left: 2em;
  padding-top: 1em;
}

p {
  line-height: 2;
  font-size: 16px;
}

.unstyle-me {
  color: inherit;
}

.unstyle-me:hover {
  color: inherit;
  color: #{{site.data.template.color.muted}};
  text-decoration: none;
}

.headline {
  margin: 2em 0;
}

.post-page {
  padding-top: 4em;
}

.post-text {
  padding: 2em 1em;
}

.post-heading {
  font-size: 45px !important;
}

.headline-shadow {
  text-shadow: 1px 1px 10px #7b7b7b;
}

/***
  About page
***/

.about {
  margin-left: 1em;
  margin-right: 1em;
}

.about-image {
  width: 100%;
  margin: 1.5em auto;
  display: block;
  box-shadow: 0px 2px 10px #d4d4d4;
}


/***
  Team page
***/

.team {
  margin-top: 1em;
}

.team-title {
  margin-bottom: 2em;
}

.team-subtitle {
  color: grey;
  margin-bottom: 2em;
}

.team-member {

}

.team-image {
  margin: 0 auto;
  max-width: 75%;
}


/***
  Progress page
***/


.post {
  margin-top: 4em;
  margin-bottom: 4em;
}

.post-img {
  margin: 0 auto;
  box-shadow: 0px 2px 10px #d4d4d4;
  padding: 0;
}

.post-content {
  /*text-align: center;*/
}

.navbar-brand>img {
  height: 100%;
  /*padding: 15px;*/
  width: auto;
}


/***
  Tech and Code page
***/

.codetech {

}


.entry {
  margin: 2em;
}

.entry-title {

}

.entry-status {
  margin: 1em 0;
}

.entry-description {
  margin: 1em 0;
}

.entry-img-container {
  max-width: 800px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  /*flex-direction: row;*/
}

.entry-img {
  padding: 1em 2em;
  width: 100%;
  /*margin: 0 auto;
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  width: 90%;*/
  
}

.entry-img-link {
  flex: 1;
  text-align: center;
}

header .intro-text .intro-heading { 
    font-size: 40px;
  }

@media (min-width: 768px) {
  
  .ucsf-logo, .ucsf-logo-container {
    display: block;
  }

  .post-page {
    padding-top: 0;
  }

  .about {
    margin: 0 auto;
  }

  .about-image {
    /*width: 80%;*/
  }

  .post-img {
    margin-left: 0;
    margin-right: 0;
  }

  .entry {
    margin: 2em 0;
  }
  
  .entry-img {
    padding: 0 2em;
    width: auto;
  }
  
  .entry-img-container {
    display: flex;
  }

  header .intro-text .intro-heading { 
    font-size: 60px;
  }
}