<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index post-page">

    {% include nav.html %}
    
    <header style="background-image: url({{ site.image_root_url }}e_brightness:-60/{{ site.image_account }}/{{ page.image }})">
      <div class="container">
        <div class="intro-text headline headline-shadow">
          <div class="intro-heading post-heading">
            {{page.title}}
          </div>
          <div class="intro-lead-in headline-shadow">
            {{page.post_date | date: '%B, %Y' }}
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row post-text">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
        {{content}}

        <br>
        <a href="/updates">Back to Updates</a>
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
